<h1 class="text-center">Posts Page</h1>

<div class="text-center">
  <button type="submit" class="btn btn-primary" routerLink="/todo/addpost">Add Post</button>
</div>

<div class="container">

  <div *ngIf="isLoading$ | async">
<svg class="spinner">
  <circle>
    <animateTransform attributeName="transform" type="rotate" values="-90;810" keyTimes="0;1" dur="2s" repeatCount="indefinite"></animateTransform>
    <animate attributeName="stroke-dashoffset" values="0%;0%;-157.080%" calcMode="spline" keySplines="0.61, 1, 0.88, 1; 0.12, 0, 0.39, 0" keyTimes="0;0.5;1" dur="2s" repeatCount="indefinite"></animate>
    <animate attributeName="stroke-dasharray" values="0% 314.159%;157.080% 157.080%;0% 314.159%" calcMode="spline" keySplines="0.61, 1, 0.88, 1; 0.12, 0, 0.39, 0" keyTimes="0;0.5;1" dur="2s" repeatCount="indefinite"></animate>
  </circle>
</svg>
  </div>

<div *ngIf="error$ | async as error">{{ error }}</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">ToDo</th>
        <th scope="col">AddedDate</th>
        <th scope="col">Description</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts$ | async">
        <th scope="row">{{post.id}}</th>
        <td scope="row">{{post.title}}</td>
        <td scope="row">{{post.addedDate}}</td>
        <td scope="row">{{post.description}}</td>
        <td scope="row"><a href="" class="btn btn-primary" [routerLink]="['/todo/editpost', post.id]">Edit</a></td>
        <td scope="row" class="mr-3"><a href="" class="btn btn-danger" (click)="onDeletePost(post.id)">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>


<div class="row">
  <div class="col-md-12">
<router-outlet></router-outlet>
  </div>
</div>